
@namespace BookShop.Client

@page "/Account/Manage"
<h3>Manage</h3>

@if (isAdmin)
{
    <img src="dx/Assets/Habiby ya Admin.jpg" width="550" />
}
else
{
    <img src="/Assets/habiby ya user.jpg" width="550" />
}

