@namespace BookShop.Client

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" type="png" href="../Assets/spellbook.png">
    <title> BookNook </title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="entry.css">
</head>
<body>
    <div class="row cont-1">
        <div class="col-6 left-1">
            <div class="cont-2">
                <h2>Welcome to BookNook!</h2><br />
                <span>_______</span><span>Explore Worlds, One Page at a Time: Your Journey Begins Here!</span>
            </div>
            <img src="../Assets/Books stacked -19.png" alt="books" class="im-1">
        </div>

        <div class="col-6 right-1">
            <div>
                <img src="../Assets/spellbook.png" alt="icon" class="ic-1">
                <p class="p1">BookNook </p>
                <a href="./Account/Login"><div class="btn-1">login</div></a>
                <a href="./Account/Register"><div class="btn-2">sign up</div></a>
            </div>
        </div>
    </div>
</body>
</html>

@code {

}
