@namespace BookShop.Client

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" type="png" href="../Assets/spellbook.png">
    <title>BookNook</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/entry.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row cont-1 align-items-center">
            <div class="col-lg-6 col-md-12 left-1 text-center text-lg-left">
                <div class="cont-2">
                    <h2>Welcome to BookNook!</h2><br />
                    <span>_______</span><span>Explore Worlds, One Page at a Time: Your Journey Begins Here!</span>
                </div>
                <img src="../Assets/Books stacked -19.png" alt="books" class="im-1 img-fluid">
            </div>
            <div class="col-lg-6 col-md-12 right-1 text-center">
                <div>
                    <img src="../Assets/spellbook.png" alt="icon" class="ic-1 img-fluid">
                    <p class="p1">BookNook</p>
                    <a href="/Account/Login"><div class="btn-1">Login</div></a>
                    <a href="/Account/Register"><div class="btn-2">Sign Up</div></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@code {

}
