@page "/AddBook"
@using BookShop.Client.Services
@using Microsoft.AspNetCore.Http

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" type="png" href="/Assets/spellbook.png">
    <title> BookNook </title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/AddBooks.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navv">
        <div class="container-fluid">
            <a id="logo" class="navbar-brand logo" href="../home/home.html">
                <img src="/Assets/spellbook.png" width="70px" height="60px"
                     alt="">
            </a>
            <div id="marquee">
                <marquee scrollamount="5"> <a href="#" class="logo">BookNook</a></marquee>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <div class="icons-1">
                    <li>
                        <a href="add.html"><img src="/Assets/book.png" width="32px" height="32px" class="icon"></a>
                    </li>
                    <li>
                        <a href="#"><img src="/Assets/shopping-cart (1).png" width="32px" height="32px" class="icon"></a>
                    </li>
                    <li>
                        <a href="#"><img src="/Assets/profile (1).png" width="32px" height="32px" class="icon"></a>
                    </li>
            </div>
            </ul>
        </div>
        </div>
    </nav>
    <div class="wrapper">
        <EditForm Model="AddedBook" OnValidSubmit="AddBook">
            <h4>Add a book</h4>
            <div class="input-box file">
                <label for="photo" class="lab">add photo</label>
                <InputFile id="photo" OnChange="HandleFileChange" required />
            </div>
            <div class="input-box">
                <InputText @bind-Value="AddedBook.Title" placeholder="Book Title" required />
            </div>
            <div class="input-box">
                <select @bind="AddedBook.AuthorId" class="form-control" required>
                    <option value="">Select Author</option>
                    @if (authors is null)
                    {
                        <option value="">No Authors</option>
                    }
                    else
                    {
                        @foreach (var author in authors)
                        {
                            <option value="@author.Id">@author.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="input-box">
                <label for="cat"> Choose Category</label>
                <select id="book-category" name="cat" required>
                    <option value="">Select Category</option>
                    <option value="novel">Novel</option>
                    <option value="self-help">self-help</option>
                    <option value="mystry">mystry</option>
                    <option value="comic books">comic books</option>
                    <option value="philosophy">philosophy</option>
                    <option value="romance">Romance</option>
                </select>
            </div>
            <div class="input-box">
                <input type="number" placeholder="book pages" min="5" max="700" required>
            </div>

            <div class="input-box">
                <InputTextArea @bind-Value="AddedBook.Description">Summary of the book...</InputTextArea>
            </div>
            <div class="input-box">
                <InputNumber @bind-Value="AddedBook.Price" />
            </div>
            <button type="submit" class="btn">Add</button>
        </EditForm>
    </div>
</body>


