@page "/AddBook/{BookId}"
@page "/AddBook"
@namespace BookShop.Client

@using BookShop.Client.Services
@using Microsoft.AspNetCore.Http

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" type="png" href="/Assets/spellbook.png">
    <title> BookNook </title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/AddBooks.css">
</head>
<AuthorizeView>
    <NotAuthorized>
        @if (true)
        {
            NavManager.NavigateTo("/");
        }
    </NotAuthorized>
    <Authorized>
        @if (context.User.IsInRole(ConstSettings.AdminRole))
        {
            <body>
                <nav class="navbar navbar-expand-lg navv">
                    <div class="container-fluid">
                        <a id="logo" class="navbar-brand logo" href="../home/home.html">
                            <img src="/Assets/spellbook.png" width="70px" height="60px"
                                 alt="">
                        </a>
                        <div id="marquee">
                            <marquee scrollamount="5"> <a href="#" class="logo">BookNook</a></marquee>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <div class="icons-1">
                                <li>
                                    <a href="add.html"><img src="/Assets/book.png" width="32px" height="32px" class="icon"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/Assets/shopping-cart (1).png" width="32px" height="32px" class="icon"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/Assets/profile (1).png" width="32px" height="32px" class="icon"></a>
                                </li>
                        </div>
                        </ul>
                    </div>
                    </div>
                </nav>
                <div class="wrapper">
                    <h4>Add a book</h4>
                    <div class="d-flex align-items-center">
                        @if (BookPhotoPreview is not null)
                        {
                            <img class="img-thumbnail" src="@($"data:image;base64,{BookPhotoPreview}")" alt="Book Image" style="max-width:100px; max-height:100px;" />
                        }
                        else
                        {
                            @if (!string.IsNullOrEmpty(AddedBook.Img))
                            {
                                <img class="img-thumbnail" src="@AddedBook.Img" style="max-width:100px; max-height:100px;" />
                            }
                        }
                    </div>
                    <StatusMessage @ref="addStatusMessage" />
                    <EditForm Model="AddedBook" OnValidSubmit="AddBook">
                        <ChildContent Context="FormContext">
                            <div class="input-box">
                                <InputText @bind-Value="AddedBook.Title" placeholder="Book Title" required />
                            </div>
                            <div class="input-box file">
                                <label for="photo" class="lab">add photo</label>
                                @if (!string.IsNullOrEmpty(AddedBook.Img))
                                {
                                    <InputFile id="photo" OnChange="HandleFileChange" />
                                }
                                else
                                {
                                    <InputFile id="photo" OnChange="HandleFileChange" required />
                                }
                            </div>
                            <div class="input-box mt-5">
                                <select @bind="AddedBook.AuthorId" class="form-control" required>
                                    <option value="">Select Author</option>
                                    @if (authors is null)
                                    {
                                        <option value="">No Authors</option>
                                    }
                                    else
                                    {
                                        @foreach (var author in authors)
                                        {
                                            <option value="@author.Id">@author.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="input-box">
                                <label for="cat"> Choose Category</label>
                                <select @bind="AddedBook.Category" id="book-category" name="cat" required>
                                    <option value="">Select Category</option>
                                    <option value="novel">Novel</option>
                                    <option value="self-help">self-help</option>
                                    <option value="mystry">mystry</option>
                                    <option value="comic books">comic books</option>
                                    <option value="philosophy">philosophy</option>
                                    <option value="romance">Romance</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <input type="number" @bind="AddedBook.pagesNumber" placeholder="book pages" min="5" max="700" required />
                            </div>

                            <div class="input-box">
                                <input type="number" @bind="AddedBook.AvailableQuantity" placeholder="Quantity" min="5" max="700" required />
                            </div>
                            <div class="input-box">
                                <InputTextArea class="bg-transparent text-white" @bind-Value="AddedBook.Description" placeholder="Summary of the book"></InputTextArea>
                            </div>
                            <div class="input-box">
                                <input type="number" @bind="AddedBook.Price" placeholder="Book price" />
                            </div>
                            @if (BookId is null)
                            {
                                <button type="submit" class="btn">Add</button>
                            }
                            else
                            {
                                <button type="submit" class="btn">Save changes</button>
                            }
                        </ChildContent>
                    </EditForm>
                </div>
            </body>
        }
        else { NavManager.NavigateTo("/"); }
    </Authorized>

</AuthorizeView>


