body {
  background-color: #FDFCE3;
}

.navv {
  background-color: #D9AC82;
}

@media (max-width:605px) {
  .cont-1{
    flex-direction: column !important;
  }
  .cont-1>.book-details{
    width: 50%;
    margin: 0 auto;
  }
}