
  .profile{
   margin:0px;
   padding:0px;
   box-sizing: border-box;
   width: 100%;
   height:100%;
   display:flex;
   justify-content: center;
   float: left;
   
  }
  .profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  
  }
button{
  background-color:  #D9AC82; /* Set the button's background color to brown */
  border: none; /* Remove borders */
  /* padding: 10px 20px; Add some padding for content */
  /* Set the width and height to create an oval shape */
  width: 80px;
  height: 50px;
  /* Apply border radius to create the oval shape */
  border-radius: 25px / 25px;
}
ul {
  margin-left: 50px; /* Indent the list by 20 pixels */
  justify-content: space-between;
}
li {
  margin-left: 10px; /* Indent the list by 20 pixels */
  justify-content: space-between;
}
.book-container {
  width: 600px;
  height: 400px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 20px;
}

section {
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

body
{
  background-color: #FDFCE3;
}

.navv{
  background-color: #D9AC82;
}

.logo {
    margin-left: 50px;
    margin-top: 5px;
  }
  .navitems {
    margin-left: 700px;
    margin-top: 10px;
  }
  .navcontent {
    list-style: none;
    display: flex;
  }
  .navcontent li {
    margin-right: 20px;
  }
  #marquee {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    width: 600px;
    font-size: 2em;
  }
  #marquee a {
    text-decoration: none;
    color: #541400;
  }
.search-container {
    position: relative;
    width: 400px;
    /* margin-top: 0px; */
    margin-left: 300px;
    
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #541400;
    box-sizing: border-box;
    color: white;
    border-radius: 50px;
    background-color: #6b3c2d;
  }
  
  .suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #D9AC82;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    display: none;
    border-radius: 20px;
    z-index: 999;
  }
  
  .suggestions-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #FDFCE3;
  }

  .search-icon {
    float:right;
    width: 24px;
    height: 24px;
    color: #541400;
  }
 .icons-1{
  display: flex;
  margin-left: 800px;
  
} 
.icon
{
  margin: 10px;
}
h2{
  text-align: center;
  margin-top: 30px;
  color: #541400;
}
.imgg
{
  width: 300px;
  height: 300px;
}
.cont-1 
{
  margin-top: 30px;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-left: 70px;
}

.image-container:hover .overlay {
  opacity: 0.8; 
}

.show{
  opacity: 0;
  margin-top: 100px;
  z-index: 999;
}
.image-container:hover .show{
  opacity: 1;
}

.btn-1
{
  border-radius: 50px;
  background-color: #D9AC82;
  color: #541400;
}
/* ********* */
.rate{
  text-align: center;
  margin-top: 10px;
}
/* .rating-container {
  display: flex;

} */

.star {
  font-size: 1em;
  cursor: pointer;
  color: gray;
}

.star:hover {
  color: gold;
}

.star.rated {
  color: gold;
}

/************************************************************************/
.Fot a {
  text-decoration: none;
}
.top-fot {
  background-color: #D9AC82;
  height: 60px;
}
.content1 {
  padding-top: 15px;
}
.content1 a {
  color: #b8b6c1;
  font-weight: bolder;
  display: inline flex;
  font-size: smaller;
}
.content1 span {
  color: #f2dfde;
  font-size: smaller;
}
.content1 p {
  color: white;
  font-weight: bold;
}
.mid-fot {
  background-color: #6B3C2D;
  height: 300px;
}
.mid-fot ul {
  list-style: none;
  color: white;
  line-height: 2;
}
.content2 {
  padding-top: 40px;
}
.mid-fot a {
  color: #8a8a8a;
}
.SOCIAL li {
  display: inline-flex;
}
.SOCIAL i {
  font-size: 20px;
  margin-left: 8px;
}
.Fot a:hover {
  color: #541400;
}
.fot-bot {
  background-color: #D9AC82;
  height: 60px;
}
.fot-bot pre {
  text-align: center;
  padding-top: 20px;
  color: white;
}
i {
  font-size: 4em;
}
a {
  text-decoration: none;
  color: black;
}